
/*---------------------
       BASE SETUP
----------------------- */
* {
    margin: 0;
    padding: 0;
}


.sect-spacing {
    margin: 10% 0;
    padding-bottom: 5%;
}

/*----------------------
      HEADER SECTION 
------------------------*/

header {
    color: white;
    background-color: #264653;
}

/* navigation bar */

.cmn-btn {
    padding: 10px 24px;
    background-color: #E76F51;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #264653;
    border-radius: 5px;

}

.nav-bg {
    background-color: #264653;
}

/* header section content */

.modal-btn {
    padding: 10px 40px;
    background-color: #E76F51;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #264653;
    border-radius: 5px;
}

/*---------------------------------------
            MAIN SECTION 
-----------------------------------------*/

/* featured bike 2021 section */

.title-div {
    margin-bottom: 8%;
}

.after-efct{
    position: relative;
    color: #E76F51;
}

.after-efct::after {
    content: '';
    display: block;
    position: absolute;
    top: 120%;
    left: 47.5%;
    width: 5%;
    height: 5px;
    border-radius: 30px;
    background-color: #E76F51;
    
}

.img-width {
    max-width: 300px;
}

.grayscale {
    filter: grayscale(100%);
}

/* happy client says section */

.clr-txt {
    color: #E76F51;
}

.img-sizing {
    height: 150px;
    width: 150px;
    margin: 30px auto;
}

.fill-icon {
    color: #E77C40;

}

.pro-link {
    text-decoration: none;

}

/* FAQ section */

.faq-img {
    max-width: 500px;
}

/* discount leather section */

.bg-img {

    height: 600px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url("images/pexels-sourav-mishra-3660523.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
}

.big-txt {
    font-size: 3em;
    font-weight: bold;
}

.my-btn {
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
    font-weight: bold;
}

/* footer section */

.bg-clr {
    background-color:#0B0D17;;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 20px;
}